<h3>Welcome to the app!</h3>
<p>
    Hello, {{ user.fullName }}. You have registered into the app 'micro-post'.
    Good to have ya with us!
    
    To login, go to <a href="{{ url('security_login') }}"></a>

    Thanks!
</p>